*.eprj2
*.kicad_pcb
*.kicad_sch
*.PrjPcb
*.PcbDoc
*.SchDoc
*.gbr
*.ger
*.drl
*.dxf
*.dwg
*.step
*.stp
*.zip
*.7z
*.rar
*.bin
*.elf
*.map
*.pcm
*.wav
*.mp3
bom/
manufacturing/
firmware/
fixtures/
private/
secrets/
