*.pdf binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.gif binary
*.mp4 binary

*.md text eol=lf
*.html text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
